.footerContainer {
    padding-left: 250px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-right: 60px;
}

.line {
    border-top: 2px solid rgb(48, 47, 47);
    margin-top: 10px;
    margin-left: 250px;
    
}
.lineContainer {
    position: relative;
}

.activeLine {
    border-top: 6px solid orangered;
    position: absolute;
    width: 200px;
    bottom: -3px;
    left: 250px;
}

